body{background-color: rgb(228, 105, 74); font-family: fantasy;}
td{background-color: #ffe6b3;border: 2px solid burlywood; padding: 3px; border-radius: 5%;}
th{background-color: #ffe6b3;border: 2px solid burlywood;}
table{margin-left: auto; margin-right: auto;}
.line{background-color: bisque; margin-bottom: 10px; margin-left: 100px; margin-right: 100px; border: 2px solid cornsilk; border-radius: 5%;}
.button{color: cornsilk; border-radius: 10%; border-color: rgb(34,204,34); background-color: rgb(34, 204, 34); padding-left: 13px; padding-right: 13px; padding-top: 3px; padding-bottom: 3px;}
a{color: cornsilk; background-color: brown; border: 1px solid brown; border-radius: 10%; text-decoration: none; padding: 2px;}
.bild{border: solid black 3px; background-color: dimgray;}