{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Persönlicher Kalender</title>
    <link rel="stylesheet" href="{% static 'pk/style.css' %}"/>
</head>
<body>
    <h1>Persönlicher Kalender</h1>
    <div class="bild">
    <form action="add" method="POST" class='addform'>
        <div class="line">
            {% csrf_token %}
            <label for="fach" class='label'>Fach</label>
            <input type="text" name="fach" id="fach">
            <label for="was" class='label'>Form</label>
            <input type="text" name="was" id="was">
            <label for="datum" class='label'>Datum</label>
            <input type="text" name="datum" id="datum">
            <label for="tage" class='label'>Tage</label>
            <input type="text" name="tage" id="tage">
            <label for="farbe" class='label'>Farbe</label>
            <input type="text" name="farbe" id="farbe">
            <input type="submit" value="Add" class='button' name='add'>
            
        </div>
    </form>
    
    <table class="table">
        <tr>
        <th>Erledigt</th>
        <th>Fach</th>
        <th>Form</th>
        <th>Datum</th>
        <th>Tage</th>
        <th>Farbe</th>
        </tr>
        {% for item in einfuegen %}
        <tr>
            <form>
            <td><input type="checkbox" name="neu_erledigt" id="" value='{{item.id}}'></td>
            <td>{{item.fach}}</td>
            <td>{{item.was}}</td>
            <td>{{item.datum}}</td>
            <td>{{item.tage}}</td>
            <td>{{item.farbe}}<input id="farbe" type="color"/></td>
            <td><a href='delete?id={{item.id}}' class='btn btn-danger'>Löschen</a></td>
        </tr>
        {% endfor %}
    </form>
        </table>
        </div>

</body>
</html>